#toolbar {
    color: "gray";
    height: 55px;
    border-top: 4px solid;
    border-top-color: #F48024;
}

#toolbar a {
    color: black;
    margin-right: 70px;
    text-decoration: none;
}

#toolbar a:hover {
    font-size: 21px;
}

#search-bar {
    padding: 10px;
    margin-right: 70px;
    border-radius: 25px;
    border: hidden;
    width: 480px;
}