<mat-toolbar id="toolbar">
    <a href="/"><img src="../assets/images/drawer.png" height="15"></a>
    <a href="/"><img src="../assets/images/logo.png " height="35 "></a>
    <input type="search " size="80px " placeholder="Search " name="search " id="search-bar">
    <a href="/login "><img src="../assets/images/login.png " height="25 ">Log in</a>
    <a href="/signup "><img src="../assets/images/signup.png " height="25 ">Sign up</a>
</mat-toolbar>
<div id="bg">
    <img src="../assets/images/background.png">
    <h1>We &lt;3 people who code</h1>
    <h2>
        Got a problem? <br> We have the solution!
    </h2>
    <button class="button">
      Post a question
    </button>
</div>
<div id="bottom">
    <p>hello world</p>

</div>