<mat-toolbar id="toolbar" fxLayout="row" fxLayoutAlign="center center">
    <a href="/"><img src="../assets/images/drawer.png" height="12"></a>
    <a href="/"><img src="../assets/images/logo.png " height="30 "></a>
    <input type="search " placeholder="Search " name="search " id="search-bar">
    <a href="/login "><img src="../assets/images/login.png " height="20 ">Log in</a>
    <a href="/signup "><img src="../assets/images/signup.png " height="20 ">Sign up</a>
</mat-toolbar>
<router-outlet></router-outlet>
<footer>
    <div id="bottom">
        <h2 style="color: white;">Developers</h2>
        <mat-card>
            <mat-card-header>
                <div mat-card-avatar style="background-image: url(../assets/images/Hari.JPG);background-size: cover;"></div>
                <mat-card-title>
                    <h3 style="color:black; ">Harivind Premkumar</h3>
                </mat-card-title>
                <mat-card-subtitle style="text-align: start;">1MS17CS034</mat-card-subtitle>

            </mat-card-header>
        </mat-card>
        <mat-card>
            <mat-card-header>
                <div mat-card-avatar style="background-image: url(../assets/images/pranav.jpg);background-size: cover;"></div>
                <mat-card-title>
                    <h3 style="color:black; ">Pranav Hegde</h3>
                </mat-card-title>
                <mat-card-subtitle style="text-align: start;">1MS17CS082</mat-card-subtitle>
            </mat-card-header>
        </mat-card>
    </div>
</footer>