<div fxLayout="column" fxLayoutAlign="space-between center">
    <mat-card class="post-card">
        <mat-card-header>
            <div mat-card-avatar class="post-header-image"></div>
            <mat-card-title>{{post.question.heading}}</mat-card-title>
            <mat-card-subtitle>{{post.question.user}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg">
        <mat-card-content>
            <div>
                <div mat-line><a href="/post?questionID={{post.question._id}}">{{post.question.heading}}</a></div>
                <div mat-line> {{post.question.description}} </div>
                <br>
                <button mat-icon-button id="votes" matBadge={{post.question.upvotes-post.question.downvotes}}
                    matBadgeColor="primary">Votes</button>
                <div mat-line></div>
                <div mat-line></div>
                <mat-divider></mat-divider>
            </div>
        </mat-card-content>
        <mat-card-actions *ngIf="currentUser!=post.question.user">
            <button mat-button>Upvote</button>
            <button mat-button>Downvote</button>
        </mat-card-actions>
        <mat-card-actions *ngIf="currentUser==post.question.user">
            <button mat-button (click)=deleteQuestion(post.question)>Delete Answer</button>
        </mat-card-actions>
    </mat-card>
    <div mat-card-subtitle style="font-weight: 900;text-decoration: underline; font-size: 18px; color: black;">
        Answers
    </div>
    <!-- <mat-list> -->
    <!-- <mat-list-item *ngFor="let answer of post.answers"> -->
    <div *ngFor="let answer of post.answers">
        <mat-card class="post-card">
            <mat-card-header>
                <div mat-card-avatar class="post-header-image"></div>
                <mat-card-subtitle>{{answer.user}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <div>
                    <div mat-line> {{answer.description}} </div>
                    <br>
                    <button mat-icon-button id="votes" matBadge={{answer.upvotes-answer.downvotes}}
                        matBadgeColor="primary">Votes</button>
                    <div mat-line></div>
                    <div mat-line></div>
                    <mat-divider></mat-divider>
                </div>
            </mat-card-content>
            <mat-card-actions *ngIf="currentUser!=answer.user">
                <button mat-button>Upvote</button>
                <button mat-button>Downvote</button>
            </mat-card-actions>
            <mat-card-actions *ngIf="currentUser==answer.user">
                <button mat-button (click)=deleteAnswer(answer)>Delete Answer</button>
            </mat-card-actions>
        </mat-card>
    </div>
    <!-- </mat-list-item> -->
    <!-- </mat-list> -->
    <div class="askQ" fxLayout="column" fxLayoutAlign="space-between center">
        <h1>Post Your Answer</h1>
        <form [formGroup]='answer' (ngSubmit)=postAnswer() class=form>
            <mat-form-field>
                <mat-label>Describe Your Answer</mat-label>
                <textarea matInput formControlName="description"></textarea>
                <mat-error>Empty Description</mat-error>
            </mat-form-field><br>
            <input type="file" multiple accept="image/*"><br><br>
            <button type="submit" mat-raised-button color="primary" [disabled]="!answer.valid">Post Answer</button><br>
        </form>
    </div>

</div>