<div fxLayout="column" fxLayoutAlign="space-between center">
    <mat-card class="post-card">
        <mat-card-header>
            <img mat-card-avatar class="post-header-image" src={{user.profilePic}} alt="">
            <mat-card-title>{{post.question.heading}}</mat-card-title>
            <mat-card-subtitle>{{post.question.user}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image *ngFor="let item of post.question.images" src={{item}} alt="" class="img"><br>
        <mat-card-content>
            <div>
                <div mat-line> {{post.question.description}} </div>
                <br>
                <button mat-icon-button id="votes" matBadge={{post.question.upvotes-post.question.downvotes}} matBadgeColor="primary">Votes</button>
                <div mat-line></div>
                <div mat-line></div>
                <mat-divider></mat-divider>
            </div>
        </mat-card-content>
        <mat-card-actions *ngIf="currentUser!=post.question.user">
            <button mat-button>Upvote</button>
            <button mat-button>Downvote</button>
        </mat-card-actions>
        <mat-card-actions *ngIf="currentUser==post.question.user">
            <button mat-button (click)=deleteQuestion(post.question)>Delete Question</button>
        </mat-card-actions>
    </mat-card>
    <div mat-card-subtitle style="font-weight: 900;text-decoration: underline; font-size: 32px; color: black;">
        Answers
    </div>

    <div *ngFor="let answer of post.answers">
        <mat-card class="post-card">
            <mat-card-header>
                <img mat-card-avatar class="post-header-image" src='../../assets/images/noDisplay.png' alt="">
                <mat-card-subtitle>{{answer.user}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <div>
                    <div mat-line> {{answer.description}} </div>
                    <br>
                    <button mat-icon-button id="votes" matBadge={{answer.upvotes-answer.downvotes}} matBadgeColor="primary">Votes</button>
                    <div mat-line></div>
                    <div mat-line></div>
                    <mat-divider></mat-divider>
                </div>
            </mat-card-content>
            <mat-card-actions *ngIf="currentUser!=answer.user">
                <button mat-icon-button><mat-icon>arrow_upward</mat-icon></button>
                <button mat-icon-button><mat-icon>arrow_downward</mat-icon></button>
            </mat-card-actions>
            <mat-card-actions *ngIf="currentUser==answer.user">
                <button mat-button (click)=deleteAnswer(answer)>Delete Answer</button>
            </mat-card-actions>
        </mat-card>
    </div>

    <div class="askA" fxLayout="row" fxLayoutAlign="space-between center">
        <form [formGroup]='answer' (ngSubmit)=postAnswer() class=form>
            <h1>Post Your Answer</h1>

            <mat-form-field>
                <mat-label>Describe Your Answer</mat-label>
                <textarea matInput formControlName="description"></textarea>
                <mat-error>Empty Description</mat-error>
            </mat-form-field><br>
            <input type="file" multiple (change)="onUploadChange($event)" accept="image/*"><br><br>
            <img height="250" *ngFor="let item of base64textString" src={{item}} alt="" class="img"><br>
            <button type="submit" mat-raised-button color="primary" [disabled]="!answer.valid">Post Answer</button><br>
        </form>
    </div>

</div>
