.post-card {
    width: 800px;
}

.list {
    padding: 10px;
}

#votes {
    background-color: rgba(98, 168, 5, 0.486);
    width: 60px;
}

#head {
    font-weight: 900;
    font-size: 30px;
}

.rectangle {
    height: 8px;
    border-radius: 10px;
    background-color: #F48024;
    width: 20%;
    align-self: center;
    display: flex;
}

#answers {
    width: 70%;
    text-align: start;
}

.img {
    text-align: center;
    width: 80%;
    padding-left: 100px;
}

.mat-card {
    margin: 30px;
}

.askA {
    width: 100%;
    min-height: 59%;
}

.mat-card-avatar {
    border-radius: 50%;
    flex-shrink: 0;
}

.form {
    // min-width: 150px;
    margin: 0% 15% 20px 15%;
    max-width: 90%;
    padding: 35px;
    width: 100%;
    border-radius: 10px;
    border-style: outset;
}

.mat-form-field {
    width: 100%;
}
