<div class="signup" fxLayout="row" fxLayoutAlign="center center">
    <div id="writeup">
        <h1 style="font-weight: 900;"><span class="material-icons">
          offline_bolt
          </span>Join the Stack Overflow community</h1>

    </div>
    <form [formGroup]='user' (ngSubmit)=signup()>
        <mat-form-field appearance="outline">
            <mat-label> Username </mat-label>
            <input matInput placeholder="JohnDoe123" formControlName="username">
        </mat-form-field><br>
        <mat-form-field appearance="outline">
            <mat-label> Email </mat-label>
            <input matInput placeholder="Johndoe@email.com" formControlName="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$">
            <mat-error>Please Enter a valid email</mat-error>
        </mat-form-field><br>
        <mat-form-field appearance="outline">
            <mat-label> Enter password</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" required>
            <button type="button" matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
            <mat-error>Must contain minimum 8 characters</mat-error>
        </mat-form-field><br>
        <input type=file formControlName="profilePic" value="Profile picture" accept="image/*"><br><br>
        <button type="submit" mat-raised-button color="primary" [disabled]="!user.valid">Register</button><br>
    </form>
</div>
