<div class="signup" fxLayout="column" fxLayoutAlign="space-between center">
    <h1>Ask Your Question</h1>
    <form [formGroup]='question' (ngSubmit)=postQuestion()>
        <mat-form-field appearance="legacy">
            <mat-label> Enter a Suitable Title </mat-label>
            <input matInput formControlName="heading" style="width: 80%;">
            <mat-error>Empty title</mat-error>
        </mat-form-field><br>
        <mat-form-field appearance="outline">
            <mat-label>Describe the Question </mat-label>
            <textarea matInput formControlName="description"></textarea>
            <mat-error>Empty Description</mat-error>
        </mat-form-field><br>
        <input type="file" multiple accept="image/*"><br><br>
        <button type="submit" mat-raised-button color="primary" [disabled]="!question.valid">Post Question</button><br>
    </form>
</div>
