<div class="search" fxLayout="column" fxLayoutAlign="start center">
    <h1 style="font-size: 30px;font-weight: 900;padding:15px;padding-bottom: 0%;"> Search Results </h1>
    <div class="rectangle"></div>
    <div id="questions" *ngIf="!noresults">
        <mat-list>
            <div mat-card-subtitle style="font-weight: 900;text-decoration: underline; font-size: 23px; color: black;">
                Questions</div>
            <mat-list-item *ngFor="let question of questions">

                <div class="list">
                    <div mat-line><span class="material-icons">
                            question_answer
                        </span><a href="/post?questionID={{question._id}}">{{question.heading}}</a></div>
                    <div mat-line class="description"> {{question.description}} </div>
                    <br>
                    <button mat-flat-button id="votes" matBadge={{question.upvotes.length-question.downvotes.length}}
                        matBadgeColor="primary">Votes</button>
                    <div mat-line></div>
                    <div mat-line></div>
                    <mat-divider></mat-divider>
                </div>
            </mat-list-item>
        </mat-list>
    </div>
    <div id="questions" *ngIf="noresults">
        <mat-list>
            <div mat-card-subtitle style="font-weight: 900;text-decoration: underline; font-size: 23px; color: black;">
                No Results found for the Query</div>
        </mat-list>
    </div>
</div>