<div id="bg">
    <img src="../assets/images/background.png" max-width="90%">
    <h1>We &lt;3 people who code</h1>
    <h2>
        Got a problem? <br> We have the solution!
    </h2>
    <a href="/askQuestion"><button class="button">
      Post a question
    </button></a>
</div>
<div id="center" fxLayout="column" fxLayoutAlign="center center">
    <span style="width: 55%; margin-bottom: 20px; text-align: center;">
        <h1 style="padding:20px;font-weight: 800; "> For developers, by developers</h1>
        <div class="rectangle" ></div>
        <h2 style="padding:20px;font-weight: 700;">Stack Overflow is an open community for anyone that codes. We help you get answers to your toughest coding questions, share knowledge with your friends and coworkers in private, and gain knowledge</h2>
    </span>
    <div id="center2" fxLayout="row" fxLayoutAlign="center center">
        <mat-card>
            <mat-card-header>
                <mat-card-title>
                    <h1 style="color:black; text-shadow: 2px 2px gray; font-size: 35px;">Public Q&A</h1>
                </mat-card-title>
            </mat-card-header>
            <img mat-card-image src="../assets/images/publicq&a.png" alt="Photo of a Shiba Inu">
            <mat-card-content>
                <p>
                    Get answers to all your questions and give back by sharing your knowledge with others.<br><span *ngIf=!isUserLoggedIn><a href="/signup"> Sign up </a>a for an account.</span>
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button color="primary" (click)="browse()"> Browse Questions</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>
